@import './base.css';

#app {
  width: 99vw;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

html,
body {
  font-family: 'Mitr';
  background: #ffffff;
  height: 100vh;
  width: 99vw;
}
